*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}

body {
  font-family: 'Roboto', 'Helvetica Neue',
    sans-serif;
  background-color: #f5f5f5;
}

.game-container {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}

.game-name {
  font-family: 'Bangers';
  font-size: 44px;
  color: #444;
  border-bottom: 1px solid #000;
  max-width: 400px;
  margin: 0 auto 18px;
}

.text-menu {
  font-size: 18px;
}

.select-tables {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 340px;
}

.select-tables li {
  margin: 12px;
}

.select-tables li label {
  font-family: 'Bangers';
  font-size: 32px;
  margin-left: 6px;
}

.disabled-num {
  color: #999;
}

.btn-start-game {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #fa8231;
  padding: 10px 18px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #999;
  border: none;
}

.btn-start-game:hover {
  box-shadow: 1px 1px 2px #ccc;
}

.btn-start-game:disabled {
  cursor: default;
  background-color: #ddd;
  border-color: #ccc;
  box-shadow: none !important;
}


.stepper {
  font-size: 18px;
  text-align: center;
}

.operation {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
}

.result, .result:focus {
  margin-left: 10px;
  width: 70px;
  padding: 4px 10px;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
}

.success, .success:focus {
  background-color: green !important;
  color: #fff;
}

.error, .error:focus {
  background-color: red;
  color: #fff;
}

.btn-send {
  cursor: pointer;
  padding: 4px 15px;
  box-shadow: 2px 2px 2px #ccc;
  border: 2px solid #fff;
  border-radius: 0 5px 5px 0;
  background-color: blue;
  color: #fff;
}

.keyboard {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btn-num {
  padding: 8px 16px;
  border-radius: 5px;
  margin: 6px;
  font-size: 26px;
  box-shadow: 3px 3px 4px #ccc;
  background-color: #666;
  color: #fff;
  font-weight: bold;
}

.btn-clear {
  padding: 6px 12px;
  border: 2px solid darkred;
  border-radius: 5px;
  margin: 6px;
  font-size: 18px;
  box-shadow: 3px 3px 4px #ccc;
  background-color: #bf0404;
  color: #fff;
  font-weight: bold;
}

.btn-done {
  padding: 10px 32px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 12px auto;
  font-size: 23px;
  box-shadow: 3px 3px 4px #ccc;
  background-color: blue;
  color: #fff;
  font-weight: bold;
}

.btn-send:disabled, .btn-clear:disabled, .btn-done:disabled {
  cursor: default;
  background-color: #ddd;
  border-color: #ccc;
}

.for-review {
  text-align: center;
}

.for-review .title {
  font-size: 18px;
}

.for-review .operations-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px auto;
  max-width: 460px;
}

.for-review .operation {
  font-size: 26px;
  margin: 6px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.win {
  font-size: 40px;
  font-weight: bold;
  color: green;
  text-align: center;
  margin: 10px 0;
}

.win .title {
  display: block;
}

.winner-gif {
  max-width: 240px;
  margin: 20px auto;
}

.btn-new-game {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #fa8231;
  padding: 10px 18px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #999;
  border: none;
}

.btn-new-game:hover {
  box-shadow: 1px 1px 2px #ccc;
}

.btn-go-to-menu {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #8831fa;
  padding: 10px 18px;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #999;
  border: none;
  display: block;
  margin: 30px auto 0;
}

.btn-go-to-menu {
  box-shadow: 1px 1px 2px #ccc;
}


@media (max-width: 1200px) {
  .btn-send {
    display: none;
  }
}

@media (min-width: 1201px) {
  .result {
    border-radius: 5px 0 0 5px;
  }

  .keyboard {
    display: none;
  }

  .operation {
    margin: 60px 0;
  }

  .btn-go-to-menu {
    margin-top: 100px;
  }
}

.-hide {
  display: none !important;
}